@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import "tailwindcss";

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .custom-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Clerk Override Styles */
.cl-headerTitle {
  font-size: 3rem !important;
  font-family: 'Caveat', cursive !important;
}

.cl-headerSubtitle {
  font-size: 1.5rem !important;
  font-family: 'Caveat', cursive !important;
}

.cl-formFieldLabel {
  font-size: 1.5rem !important;
  font-family: 'Caveat', cursive !important;
}

.cl-formFieldInput {
  font-size: 1.25rem !important;
  padding: 0.75rem !important;
  font-family: 'Caveat', cursive !important;
}

.cl-formButtonPrimary {
  font-size: 1.5rem !important;
  padding: 0.75rem !important;
  font-family: 'Caveat', cursive !important;
}

.cl-socialButtonsBlockButtonText {
  font-size: 1.25rem !important;
  font-family: 'Caveat', cursive !important;
}

.cl-dividerText {
  font-size: 1.25rem !important;
  font-family: 'Caveat', cursive !important;
}

.cl-footerActionText, .cl-footerActionLink {
  font-size: 1.25rem !important;
  font-family: 'Caveat', cursive !important;
}

